@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register new Dependence";
}

<h1>GOIDA</h1>

<h2><a href="/DependenceRegister/PhoneAdding">Добавить номер телефона</a></h2>

<h2><a href="/DependenceRegister/CarAdding">Добавить номер машины</a></h2>

<h2><a href="/DependenceRegister/DependenceAdding">Связать номера машины и телефона</a></h2>